<app-admin-header></app-admin-header>
<div class="main">
  <div class="card">
    <div class="card-header bg-white">
      <h3 class="pull-left">Gestion Foyers</h3>
      <button class="btn btn-outline-success pull-right" data-toggle="modal" data-target="#newModal"
              (click)="form.reset();">Ajout <i
        class="fa fa-plus"></i></button>
    </div>
    <div class="card-body">
      <div class="alert alert-success" *ngIf="message">
        <p class="m-0">{{message}}</p>
      </div>
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">titre</th>
          <th scope="col">ville</th>
          <th scope="col">adresse</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let foyer of foyers">
          <th scope="row">{{foyer.id}}</th>
          <td>{{foyer.titre}}</td>
          <td>{{foyer.ville}}</td>
          <td>{{foyer.adresse}}</td>
          <td>
            <button type="button" class="btn btn-success rounded ml-2 text-white" (click)="updateModal(foyer)"
                    data-toggle="modal" data-target="#editModal"><i class="icon-edit"></i></button>
            <button type="button" class="btn btn-danger rounded ml-2 text-white" (click)="delete(foyer)"><i
              class="icon-trash-o"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="new(form.value)">
        <div class="modal-header">
          <h5 class="modal-title" id="newModalLabel">Ajout foyer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="form-group">
            <label>Titre</label>
            <input type="text" class="form-control shadow-none"
                   formControlName="titre">
            <div
              *ngIf="form.controls.titre.invalid && (form.controls.titre.dirty || form.controls.titre.touched)"
              class="text-danger">
              <div *ngIf="form.controls.titre.errors.required">
                Titre est requis
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Ville</label>
            <select class="form-control shadow-none" formControlName="ville">
              <option></option>
              <option *ngFor="let ville of villes"
                      [value]="ville.name">{{ville.name}}</option>
            </select>
            <div
              *ngIf="form.controls.ville.invalid && (form.controls.ville.dirty || form.controls.ville.touched)"
              class="text-danger">
              <div *ngIf="form.controls.ville.errors.required">
                Ville est requis
              </div>
            </div>
          </div>


          <div class="form-group">
            <label>Adresse</label>
            <input type="text" class="form-control shadow-none"
                   formControlName="adresse">
            <div
              *ngIf="form.controls.adresse.invalid && (form.controls.adresse.dirty || form.controls.adresse.touched)"
              class="text-danger">
              <div *ngIf="form.controls.adresse.errors.required">
                Adresse est requis
              </div>
            </div>
          </div>


          <div class="form-group">
            <label>Nombre chambre</label>
            <input type="number" class="form-control shadow-none"
                   formControlName="nb_chmbr">
            <div
              *ngIf="form.controls.nb_chmbr.invalid && (form.controls.nb_chmbr.dirty || form.controls.nb_chmbr.touched)"
              class="text-danger">
              <div *ngIf="form.controls.nb_chmbr.errors.required">
                Nombre chambre est requis
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Prix individuelle</label>
            <input type="number" class="form-control shadow-none"
                   formControlName="prix_indiv">
            <div
              *ngIf="form.controls.prix_indiv.invalid && (form.controls.prix_indiv.dirty || form.controls.prix_indiv.touched)"
              class="text-danger">
              <div *ngIf="form.controls.prix_indiv.errors.required">
                Prix individuelle est requis
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Prix deux personne</label>
            <input type="number" class="form-control shadow-none"
                   formControlName="prix2">
            <div
              *ngIf="form.controls.prix2.invalid && (form.controls.prix2.dirty || form.controls.prix2.touched)"
              class="text-danger">
              <div *ngIf="form.controls.prix2.errors.required">
                Prix deux personne est requis
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Prix trois personne</label>
            <input type="number" class="form-control shadow-none"
                   formControlName="prix3">
            <div
              *ngIf="form.controls.prix3.invalid && (form.controls.prix3.dirty || form.controls.prix3.touched)"
              class="text-danger">
              <div *ngIf="form.controls.prix3.errors.required">
                Prix trois personne est requis
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Membre</label>
            <select class="form-control shadow-none" formControlName="membre_id">
              <option></option>
              <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
            </select>
            <div
              *ngIf="form.controls.membre_id.invalid && (form.controls.membre_id.dirty || form.controls.membre_id.touched)"
              class="text-danger">
              <div *ngIf="form.controls.membre_id.errors.required">
                Membre est requis
              </div>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="new(form.value)"
                  [disabled]="!form.valid">Enregistrer
          </button>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="update(form.value)">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Modifier foyer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Titre</label>
            <input type="text" class="form-control shadow-none"
                   formControlName="titre">
            <div
              *ngIf="form.controls.titre.invalid && (form.controls.titre.dirty || form.controls.titre.touched)"
              class="text-danger">
              <div *ngIf="form.controls.titre.errors.required">
                Titre est requis
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Ville</label>
            <select class="form-control shadow-none" formControlName="ville">
              <option></option>
              <option *ngFor="let ville of villes"
                      [value]="ville.name">{{ville.name}}</option>
            </select>
            <div
              *ngIf="form.controls.ville.invalid && (form.controls.ville.dirty || form.controls.ville.touched)"
              class="text-danger">
              <div *ngIf="form.controls.ville.errors.required">
                Ville est requis
              </div>
            </div>
          </div>


          <div class="form-group">
            <label>Adresse</label>
            <input type="text" class="form-control shadow-none"
                   formControlName="adresse">
            <div
              *ngIf="form.controls.adresse.invalid && (form.controls.adresse.dirty || form.controls.adresse.touched)"
              class="text-danger">
              <div *ngIf="form.controls.adresse.errors.required">
                Adresse est requis
              </div>
            </div>
          </div>


          <div class="form-group">
            <label>Nombre chambre</label>
            <input type="number" class="form-control shadow-none"
                   formControlName="nb_chmbr">
            <div
              *ngIf="form.controls.nb_chmbr.invalid && (form.controls.nb_chmbr.dirty || form.controls.nb_chmbr.touched)"
              class="text-danger">
              <div *ngIf="form.controls.nb_chmbr.errors.required">
                Nombre chambre est requis
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Prix individuelle</label>
            <input type="number" class="form-control shadow-none"
                   formControlName="prix_indiv">
            <div
              *ngIf="form.controls.prix_indiv.invalid && (form.controls.prix_indiv.dirty || form.controls.prix_indiv.touched)"
              class="text-danger">
              <div *ngIf="form.controls.prix_indiv.errors.required">
                Prix individuelle est requis
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Prix deux personne</label>
            <input type="number" class="form-control shadow-none"
                   formControlName="prix2">
            <div
              *ngIf="form.controls.prix2.invalid && (form.controls.prix2.dirty || form.controls.prix2.touched)"
              class="text-danger">
              <div *ngIf="form.controls.prix2.errors.required">
                Prix deux personne est requis
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Prix trois personne</label>
            <input type="number" class="form-control shadow-none"
                   formControlName="prix3">
            <div
              *ngIf="form.controls.prix3.invalid && (form.controls.prix3.dirty || form.controls.prix3.touched)"
              class="text-danger">
              <div *ngIf="form.controls.prix3.errors.required">
                Prix trois personne est requis
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Membre</label>
            <select class="form-control shadow-none" formControlName="membre_id">
              <option></option>
              <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
            </select>
            <div
              *ngIf="form.controls.membre_id.invalid && (form.controls.membre_id.dirty || form.controls.membre_id.touched)"
              class="text-danger">
              <div *ngIf="form.controls.membre_id.errors.required">
                Membre est requis
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">Annuler</button>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="update(form.value)"
                  [disabled]="!form.valid">Enregistrer
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
<app-admin-footer></app-admin-footer>
