<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="footer-heading mb-4">About</h2>
        <p>FoyerMap vous aide à trouver votre logement étudiant facilement.</p>
      </div>

      <div class="col-md-4">
        <h2 class="footer-heading mb-4">Navigations</h2>
        <ul class="list-unstyled">
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contactez Nous</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="footer-heading mb-4">Follow Us</h2>
        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            Copyright FoyerMap 2091 &copy;
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>

