<app-admin-header></app-admin-header>
<div class="main">
  <div class="my-4">
    <div class="row" id="portfolio">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" id="storageCard">
          <div class="card-title">Annonces</div>
          <div class="card-icon"><i class="material-icons">volume_up</i></div>
          <div class="card-data">{{annoncesTotal}}</div>
          <hr/>
          <div class="card-hint"> <i class="material-icons">info</i><a  routerLink="/admin/annonces">Nombre D'annonces total</a></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" id="loveCard">
          <div class="card-title">Annuaires</div>
          <div class="card-icon"><i class="material-icons">list</i></div>
          <div class="card-data">{{annuairesTotal}}</div>
          <hr/>
          <div class="card-hint"> <i class="material-icons">info</i><a  routerLink="/admin/annuaires">Nombre D'annuaires total</a></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" id="pizzaCard">
          <div class="card-title">Foyers</div>
          <div class="card-icon"><i class="material-icons">hotel</i></div>
          <div class="card-data">{{foyersTotal}}</div>
          <hr/>
          <div class="card-hint"> <i class="material-icons">info</i><a  routerLink="/admin/foyers">Nombre De foyers total</a></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" id="gameCard">
          <div class="card-title">Utilisateurs</div>
          <div class="card-icon"><i class="material-icons">supervised_user_circle</i></div>
          <div class="card-data">{{usersTotal}}</div>
          <hr/>
          <div class="card-hint"> <i class="material-icons">info</i><a  routerLink="/admin/users">Nombre D'utilisateurs total</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-white">
      <h3 class="pull-left">Dérnier Annonces Ajouté</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">titre</th>
          <th scope="col">description</th>
          <th scope="col">Ajouté par</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let annonce of annonces">
          <th scope="row">{{annonce.id}}</th>
          <td>{{annonce.titre}}</td>
          <td>{{annonce.description}}</td>
          <td>{{annonce.membre.username}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-admin-footer></app-admin-footer>
